<div class="col-9 float-end px-4 m-3">

    <div *ngIf="!usuarios.length; else noVacia" class="alert alert-secondary" role="alert">
        Espera un momento...
    </div>

    <ng-template #noVacia>

        <div class="d-flex flex-wrap">

            <div class="card col-5 m-1 flex-grow-1" *ngFor="let usuario of usuarios" [routerLink]="['/usuarios/ver', usuario.id]">
                <div class="card-header">
                    <strong>Usuario: {{usuario.username}}</strong>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nombre: {{usuario.name.firstname | titlecase}} {{usuario.name.lastname | titlecase}}</h5>
                    <hr>
                    <p class="card-text">Email: {{usuario.email}}</p>
                </div>
            </div>
        </div>

    </ng-template>


</div>