<div class="card col-2 float-start mt-4">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" 
            routerLink="/productos/listado" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Ver Productos</li>

        <li class="list-group-item" 
            routerLink="/productos/agregar" 
            routerLinkActive="active">Agregar Producto</li>

        <li class="list-group-item" 
            routerLink="/productos/categorias" 
            routerLinkActive="active">Categorias</li>
    </ul>
</div>